<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods">
	<parameter name="browser" value="chrome"/>
	<test name="test chrome">
		<classes>
			<class name="Suite.AmazonSuite" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
